html {
    scroll-behavior: smooth;
}

/* NAVBAR */

nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 5rem 2rem;
    background: var(--pico-background-color);
    border-bottom: 1px solid var(--pico-muted-border-color);
}

nav a {
    border-radius: 8px;
    padding: .4rem .8rem;
    transition: .2s;
}

nav a:hover {
    background: var(--pico-primary);
    color: white;
    text-decoration: none;
}

.nav-buscador form {
    display: flex;
    gap: 5rem;
    margin:0;
}

.nav-buscador input [type="text"] {
    margin: 0;
    min-width: 220px;
}

.nav-buscador button {
    margin: 0;
    white-space: nowrap;
}

header {
    text-align: center;
    padding: 3rem 1rem;
}

/* DESTACADO PRINCIPAL */

.destacado-principal {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;

    padding: 1.5rem;
    margin-bottom: 2rem;

    background: var(--pico-muted-background-color);
    border: 1px solid var(--pico-muted-border-color);
    border-radius: 8px;
}

.destacado-principal img {
    flex: 1;
    min-width: 280px;
    height: 340px;
}

.destacado-info {
    flex: 1;
    min-width: 280px;
    display: flex;

    flex-direction: column;
    justify-content: center; 
}

.etiqueta {
    display: inline-block;
    width: fit-content;

    padding: .2rem .7rem;
    margin-bottom: 6rem;

    font-size: .8rem;

    color: white;
    background: var(--pico-primary);
    border-radius: 20px;
}
/* CONTENIDO */

.contenedor {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.contenedor article {
    flex: 1;
    min-width: 250px;
}

img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
}

/* LISTAS */

ul li {
    margin-bottom: .5rem;
}


/* FOOTER */

footer {
    margin-top: 3rem;
    padding: 2rem;

    text-align: center;

    border-top: 1px solid var(--pico-muted-border-color);
    color: var(--pico-muted-color);
}