body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.targeta {
    width: 250px;
    height: 180px;
    border: 3px solid #2c3e50;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 15);
    text-align: center;
}

.nombre {
    margin: 5px 0;
    color: #2c3e50;
}

.carrera {
    margin: 5px 0;
    color: 2980b9;
    font-weight: bold;
}

.ciudad {
    margin: 5px 0;
    color: #7f8c8d;
}